.fdMainContainer{
    display: flex;
}
.fdLConatiner{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 30%;
}
.fdLConatiner a{
    padding: 10px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin: 10px auto;
    width: 70%;
    font-size: 18px;
}
.fdLConatiner a:hover{
    background-color: aliceblue;
    color: black;
}
.fdRContainer{
    width: 70%;
    margin-left: 50px;
}